.content  {
  max-width: 40rem;
  margin: 2rem auto;
  border: solid ;
  
}
.content .input {
  width: 100%;
}


.content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: black;
}

.content table th,
.content table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.content table th {
  background-color: #655e5e;
}

.myTable tr:nth-child(even) {
  background-color: #453131;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
